* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  position: relative;
}
.top {
  position: fixed;
  bottom: 5%;
  right: 8%;
  z-index: 99999;
}
