@import "react-alice-carousel/lib/alice-carousel.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  position: relative;
}
.top {
  position: fixed;
  bottom: 5%;
  right: 8%;
  z-index: 99999;
}
.img-box:hover .icons-box {
  display: flex;
}

.alice-carousel__dots,
.alice-carousel__dots-item,
.alice-carousel__prev-btn,
.alice-carousel__prev-btn-item,
.alice-carousel__next-btn,
.alice-carousel__next-btn-item {
  display: none !important;
}
.price-red {
  
  width: 85px;
  height: 30px;
  border: 16px solid #a12c2f;
  border-left: 1.5em solid transparent;
}
.price-gold {
  
  width: 85px;
  height: 30px;
  border: 16px solid #f5a425;
  border-left: 1.5em solid transparent;
}
